@media (min-width: 320px) and (max-width: 480px) {
  :root {
    font: 16px / 1 sans-serif;
  }

  html {
    height: 100%;
  }
  body {
    margin: 0;
    min-height: 100%;
    background-color: #f1f1f1;
    font-family: 'Righteous', cursive;
  }
  .nav-bar-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    height: 3rem;
    background-color: #dca4fc;
    padding: 0;
  }
  nav li {
    list-style: none;
    padding: 0.5rem;
    color: white;
  }
  .nav-logo {
    font-size: 1.4rem;
    font-family: 'Lobster', cursive;
  }
  .Nav-link {
    color: white;
    text-decoration: none;
  }
  /* Dog profile Stylings */
  .dog-profile-image {
    display: flex;
    justify-content: center;
    border-bottom: solid lightgrey;
  }
  .profile-image {
    height: 12rem;
    width: 8rem;
    margin: 0;
    border-radius: 8px;
    margin: 0.7rem;
  }
  .profile-about {
    display: flex;
    flex-direction: column;
    height: 5rem;
    font-size: 0.7rem;
  }
  .profile-about h1 {
    align-self: center;
  }
  .profile-about span {
    align-self: center;
    padding: 0.1rem;
  }
  .in-between {
    border-top: solid lightgrey;
    border-bottom: solid lightgrey;
    height: 3rem;
    display: flex;
    justify-content: center;
  }
  .main-about {
    border-bottom: solid lightgrey;
  }
  .profile-logo {
    margin: 0.5rem;
    height: 2rem;
    width: auto;
  }
  .meet {
    display: flex;
    flex-direction: column;
  }
  .meet h1 {
    align-self: center;
  }
  .meet p {
    padding: 1rem;
    font-size: 0.9rem;
    align-self: center;
  }
  .small-pro-pic {
    align-self: center;
    height: 4rem;
    width: auto;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 0.8rem;
  }
  .match-button {
    align-self: center;
    background-color: purple;
    height: 1.8rem;
    width: 8rem;
    border-radius: 25px;
    border: 3px solid black;
    color: white;
  }

  /* Dog Landing Stylings */
  .doggo-landing-body {
    margin: 0;
    min-height: 100%;
    background-color: #f1f1f1;
    font-family: 'Righteous', cursive;
  }
  .landing-page-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .doggo-logo {
    height: 180px;
    width: 238px;
    align-self: center;
  }
  .doggo-text-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .doggo-text {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
  }

  .landing-button {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .create-account {
    background-color: purple;
    height: 3rem;
    width: 15rem;
    border-radius: 25px;
    border: 3px solid black;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .existing-users {
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    align-content: center;
  }
  /* Create Account Stylings */
  .create-account-div {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }
  .submit-account {
    margin-top: 1rem;
    align-self: center;
    background-color: purple;
    height: 1.8rem;
    width: 8rem;
    border-radius: 25px;
    border: 3px solid black;
    color: white;
  }
  /* Newsfeed Stylings */
  .newsfeed-header {
    border-bottom: solid lightgrey;
    height: 9rem;
  }
  .friend-card {
    border: solid black;
    height: 50px;
  }
}
