*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62, 5%;
}
.update-account-details {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  color: black;
}

.update-label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;

  /* display: block; */
  transition: all 0.3s;
  transform: translateY(0rem);
}
.basic-slide {
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
.basic-slide:placeholder-shown + .update-label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
